.card-menu
    user-select none
    border 1px solid #FFF
    padding 10px
    border-radius 8px
    font-size 16px
    margin-bottom 10px

    .every-card-top
        width 110px
        height 33px
        line-height 33px
        padding 0 15px
        background #FFF
        color #000
        border-radius 5px
        overflow hidden
        margin-bottom 10px
        text-align center

    .every-card-content
        width 110px
        height 35px
        line-height 35px
        background #FFF
        border-radius 5px
        margin-right 10px
        cursor pointer
        display inline-block
        text-align center

        &:hover
            color #7fc41c
            text-decoration underline
            transform scale(1.1, 1.1)

    .every-card-content.active
        color #7fc41c
        text-decoration underline